.testimoneals-section {
  height: 560px;
  margin-bottom: 45px;

  .section-header {
    align-items: flex-start;

    .section-title {
      h2 {
        position: relative;
        font-weight: 900;
        font-size: 32px;
        line-height: 43px;
        text-align: center;
        text-transform: uppercase;

        &::before {
          content: "WAS UNSERE KUNDEN";
          position: absolute;
          top: -56px;
          left: 6px;
          z-index: -1;
          font-style: normal;
          font-weight: 800;
          font-size: 50px;
          line-height: 61px;
          text-align: center;
          text-transform: uppercase;
          color: transparent;
          white-space: nowrap;
          font-family: 'GothamPro', sans-serif;
          -webkit-text-stroke: 1px rgba(0, 0, 0, 0.18);
        }

        &::after {
          content: "BERICHTEN";
          position: absolute;
          top: 8px;
          left: 6px;
          z-index: -1;
          font-style: normal;
          font-weight: 800;
          font-size: 50px;
          line-height: 61px;
          text-align: center;
          text-transform: uppercase;
          color: transparent;
          font-family: 'GothamPro', sans-serif;
          -webkit-text-stroke: 1px rgba(0, 0, 0, 0.18);
        }
      }
    }

    .section-subtitle {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #000000;
    }
  }

  .section-content {
    width: 100%;
    overflow: hidden;

  }

}